#data
DATA	/eos/home-n/nschroed/ECALELF/ul16/ul16_postVFP_data.csv
#mc
MC	/eos/home-n/nschroed/ECALELF/ul16/ul16_postVFP_mc.csv
#scales
SCALES	condor/ul16_preVFP_RunFineEtaR9_v00_2022-01-19/step3closure_ul16_preVFP_RunFineEtaR9_v00_2022-01-19_scales.dat
#smearings
SMEARINGS	/afs/cern.ch/user/n/nschroed/public/scales/Run2016/Run2016_2021-01-29_UltraLegacy_postVFP_RunEtaR9_v0_smearings.dat
#weights
WEIGHTS	datFiles/ptz_x_rapidity_weights_ul16_postVFP_RunFineEtaR9_v00_2022-01-19.tsv
#CATS
CATS	config/pyval/plot_cats_standard.tsv
